{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="card col-md-4 offset-md-4">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Log In</button>
            {% endbuttons %}
        </form>
    </div>
    
{% endblock %}
